<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuvanduong.ringchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.InitialApp"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ResetPasswordActivity"/>
        <activity android:name=".activity.ConfirmCodeActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.EditPasswordActivity" />
        <activity android:name=".activity.EditInforActivity" />
        <activity android:name=".activity.RemoveMemberGroupActivity" />
        <activity android:name=".activity.AddMemberGroupActivity" />
        <activity android:name=".activity.AddGroupActivity" />
        <activity android:name=".activity.GroupConversationActivity" />
        <activity android:name=".activity.ConversationActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.CallIncomingActivity" />
        <activity android:name=".activity.CallOutgoingActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".ui.DialogLanguage" />

        <service
            android:name=".service.LinphoneService"
            android:label="@string/app_name" />
    </application>

</manifest>